QUESTION 1

In [3]:
def subComplex( a1, a2): 
    return a1-a2 
  
a1 = complex(8, 3) 
a2 = complex(4, 2) 
print( "Subtraction is : ", subComplex(a1, a2))

Subtraction is :  (4+1j)

QUESTION 2

In [9]:
import math 
import random 

def fourthRoot(A,N): 
 
    xPre = random.randint(1,101) % 10

    eps = 0.001

    delX = 2147483647

    xK=0.0

    while (delX > eps): 
        xK = ((N - 1.0) * xPre +
            A/pow(xPre, N-1)) /N 
        delX = abs(xK - xPre) 
        xPre = xK; 

    return xK 


N = 4
A = 6561
fourthRootValue = fourthRoot(A, N) 

print("fourth root is ", fourthRootValue)

fourth root is  9.000000000009074

QUESTION 3

In [11]:
a= 33
b = 56

temp = a
a = b
b = temp

print('The value of a after swapping: {}'.format(a))
print('The value of b after swapping: {}'.format(b))

The value of a after swapping: 56
The value of b after swapping: 33

QUESTION 4

In [15]:
p = 52
q = 23

print ("Before swapping: ") 
print("Value of p : ", p, " and q : ", q)

p = p+q
q = p-q
p = p-q

print ("After swapping: ") 
print("Value of p : ", p, " and q : ", q)

Before swapping:
Value of p :  52  and q :  23
After swapping:
Value of p :  23  and q :  52

QUESTION 5

In [17]:
# Fahrenheit to Kelvin 
def Fahrenheit_to_Kelvin(F): 
    return 273.5 + ((F - 32.0) * (5.0/9.0)) 
  
F = 102
print("Temperature in Kelvin ( K ) = {:.3f}" 
            .format(Fahrenheit_to_Kelvin( F )))

Temperature in Kelvin ( K ) = 312.389

In [18]:
# Fahrenheit to Celsius 
temperature = float(input("Please enter temperature in fahrenheit:"))
celsius = (temperature - 32) * 5 / 9
print("Temperature in celsius: " , celsius)

Please enter temperature in fahrenheit:56
Temperature in celsius:  13.333333333333334

In [23]:
Fahrenheit= 56
Celsius = ((Fahrenheit-32)*5)/9  
print("Temperature in Celsius is: ");  
print(Celsius);

Temperature in Celsius is:
13.333333333333334

QUESTION 6

In [34]:
#Integers
num1 = 332
num2 = 40

type(num1)

int

In [35]:
type(num2)

int

In [37]:
#Float

num3 = 431.896

type(num3)

float

In [40]:
#String

name1 = "I am solving question 6"

name1

'I am solving question 6'

In [41]:
type(name1)

str

In [44]:
name1.lower()

'i am solving question 6'

In [46]:
name1.islower()

False

In [47]:
# List

lst = [52, 75, 36.31, 'PYTHON', [74, 30.30]]

type(lst)

list

In [48]:
lst[3]

'PYTHON'

In [50]:
lst[4][1]

30.3

In [52]:
# Dictionary

dit = {"Key1" : 1000, "Key2" : 56, "Key3" : 330}

dit["Key1"]

1000

In [55]:
dit['Key2']

56

In [60]:
type(dit)

dict

In [58]:
# Sets

sts = {1,5,7,3,8,6,7,4,6,7,26,78,56,26,"hey",78,5,7,"hey", 78}

sts

{1, 26, 3, 4, 5, 56, 6, 7, 78, 8, 'hey'}

In [59]:
type(sts)

set

In [61]:
# Tuples

tup = (5,7,6,3,7,2)

tup

(5, 7, 6, 3, 7, 2)

In [62]:
type(tup)

tuple

In [63]:
tup.count(3)

1

In [ ]:
# Boolean

todayIsWednesday = True

todayIsWednesday

In [66]:
type(todayIsWednesday)

bool

QUESTION 7

Step 1 : Go to the LetsUpgrade AI ML Community and open the link given in the post for Github
Step 2 : Sign in the Github if you dont have a account. Set up a Username and enter your email id and password
Step 3 : You will then get a confirmation email and you must open it to confirm and then again login the Github site